asgiref==3.9.1
beautifulsoup4==4.14.2
Brotli==1.1.0
click==8.3.0
dj-database-url==3.0.1
Django==4.2.25
django-bootstrap-v5==1.0.11
django-phonenumber-field==8.1.0
gunicorn==23.0.0
h11==0.16.0
packaging==25.0
phonenumbers==9.0.13
psycopg2-binary==2.9.11
soupsieve==2.8
sqlparse==0.5.3
typing_extensions==4.15.0
uvicorn==0.37.0
whitenoise==6.11.0
