{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Muay Thai Class{% endblock %}</title>

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'schedule/styles.css' %}" />

    {% block extra_css %}{% endblock %}

    {% bootstrap_javascript %}
</head>
 <form method="post">{% csrf_token %}</form>
<body>
    <header>
        <div class="left-btns">
            <a href="{% url 'home' %}" class="get-btns">Home</a>
            <a href="{% url 'about' %}" class="get-btns">About</a>
            <a href="{% url 'events' %}" class="get-btns">Events</a>
            <a href="{% url 'gallery' %}" class="get-btns">Gallery</a>
        </div>
        <div class="right-btns">
            <a href="{% url 'reviews' %}" class="post-btns">Reviews</a>
            <a href="{% url 'inquiry' %}" class="post-btns">Inquiry</a>
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="post-btns">Login</a>
            <a href="{% url 'signup' %}" class="post-btns">Sign up</a>
            {% else %}
            <a href="{% url 'logout' %}" class="post-btns">Log Out</a>
            {% endif %}
        </div>
    </header>
    {% if user.is_authenticated %}
        <h4><p>Logged in as {{ user }}</p></h4>
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
