{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muay Thai Class Schedule</title>
    <link rel="stylesheet" href="{% static 'schedule/styles.css' %}">
</head>
<body>
    <div class="schedule-container">
        <h2>Class Schedule</h2>
        <div style="text-align: center; margin-bottom: 20px;">
            <a href="{% url 'about' %}" class="about-btn">About</a>
        </div>
        <ul>
    {% for item in muay_class %}
        <li>
            <strong>{{ item.title }}</strong> <br>
            Coach: {{ item.coach }} <br>
            Time: {{ item.start_time }} - {{ item.end_time }}

            <div style="margin-top: 20px; text-align: right;">
            <a href="{% url 'register_class' item.id %}" class="register-btn">
                Register Now
            </a>
    </div>
        </li>
    {% empty %}
        <li>No classes yet.</li>
    {% endfor %}
</ul>

    </div>
</body>
</html>